**/target/


**/*.rs.bk

*.o
*.so
tcx-examples/android/app/src/main/jniLibs/**
tcx-examples/iOSExample/TokenCoreX/**
tcx-examples/RN/ios/TokenCoreX/**
tcx-tools/android-token-v2-build.sh
tcx-tools/android-token-v2-simulator-build.sh
tcx-tools/ios-token-v2-build.sh
tcx-tools/ios-token-v2-simulator-build.sh
tcx-tools/ios-token-v2-release-build.sh
tcx-tools/ios-internal-release.sh

ios-release/**

*.rlib
*.dll
.gdb_history

*.exe

.DS_Store

.idea
.vscode
generated/
*.iml
*.swp
*.swo

test-data/**
tcx/cheader/tcx.h



lcov.info
ccov/
tarpaulin-report.html
tcx-tools/ios-token-v2-release-build.sh
#
#tcx-btc-fork/src/transaction.rs
#tcx-ckb/src/transaction.rs
#tcx-substrate/src/transaction.rs
#tcx-tron/src/transaction.rs
#tcx/src/api.rs
tcx-tools/ios-internal-release.sh
